/* ----------------- Libraries
----------------------------------------------------------------------- */
/* ----------------- Reset
----------------------------------------------------------------------- */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* ----------------- Variables
----------------------------------------------------------------------- */
/* ----------------- Helpers
----------------------------------------------------------------------- */
/* ----------------- Mixins style
----------------------------------------------------------------------- */
/* @import "sprites.png";
@mixin sprite-css($name) {
    @include sprites-sprite($name);
    height: sprites-sprite-height($name);
    width: sprites-sprite-width($name);
    display: inline-block;
} */
/*----------  vertical align
------------------------------------------------------------------------------*/
/* @mixin vertical-align {
    position: relative;
    top: 50%;
    @include translate(0, -50%);
} */
/*----------  Text Overflow
------------------------------------------------------------------------------*/
/*---------- horizontal align
------------------------------------------------------------------------------*/
/* @mixin horizontal-align {
    position: relative;
    left: 50%;
    @include translate(-50%, 0);
} */
/*----------  box-sizing
------------------------------------------------------------------------------*/
/*----------  appearance
------------------------------------------------------------------------------*/
/* ----------------- Media queris
----------------------------------------------------------------------- */
/* ----------------- Helpers
----------------------------------------------------------------------- */
/* ----------------- IE
----------------------------------------------------------------------- */
/* ----------------- Base
----------------------------------------------------------------------- */
/* ----------------- layout 
----------------------------------------------------------------------- */
.wrapper {
  max-width: 960px;
  margin: 0 auto; }

/* ----------------- Typography
----------------------------------------------------------------------- */
/* Generated by Font Squirrel (https://www.fontsquirrel.com) on October 18, 2016 */
@font-face {
  font-family: 'graphic-medium';
  src: url("../fonts/accentgraphicmedium.woff2") format("woff2"), url("../fonts/accentgraphicmedium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- Lib
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- buttons
----------------------------------------------------------------------- */
/* ----------------- Forms
----------------------------------------------------------------------- */
/* ----------------- Icons
----------------------------------------------------------------------- */
/* ----------------- Partials
----------------------------------------------------------------------- */
/* ----------------- footer
----------------------------------------------------------------------- */
/* ----------------- header
----------------------------------------------------------------------- */
/* ----------------- scss main
----------------------------------------------------------------------- */
.container-block {
  width: 100vw;
  height: 100vh;
  background: url(../img/login_bg.png) no-repeat;
  background-size: cover;
  filter: grayscale(60%); }
  .container-block:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff2400+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
    background: -moz-linear-gradient(-45deg, #ff2400 0%, rgba(125, 185, 232, 0) 60%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff2400 0%, rgba(125, 185, 232, 0) 60%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff2400 0%, rgba(125, 185, 232, 0) 60%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2400', endColorstr='#007db9e8',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .container-block .wrapper-block {
    max-width: 960px;
    margin: auto;
    position: relative;
    z-index: 3;
    text-align: center; }
    .container-block .wrapper-block .logo {
      text-align: center;
      margin: 0 0 50px 0; }
      .container-block .wrapper-block .logo img {
        cursor: pointer; }
    .container-block .wrapper-block .login-block h2, .container-block .wrapper-block .login-block h3 {
      font-size: 50px;
      margin: 0 0 50px 0;
      font-family: 'graphic-medium', sans-serif;
      font-weight: 700;
      color: #fff;
      font-family: sans-serif; }
    .container-block .wrapper-block .login-block h3 {
      font-size: 27px; }
    .container-block .wrapper-block .login-block a {
      display: inline-block;
      padding: 13px 25px;
      width: 250px;
      font-size: 15px;
      background: #fff;
      text-decoration: none;
      font-family: 'graphic-medium', sans-serif;
      color: #005ebc;
      text-transform: uppercase;
      font-weight: bold; }
