/* ----------------- Libraries
----------------------------------------------------------------------- */
/* ----------------- Reset
----------------------------------------------------------------------- */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* ----------------- Variables
----------------------------------------------------------------------- */
/* ----------------- Helpers
----------------------------------------------------------------------- */
/* ----------------- Mixins style
----------------------------------------------------------------------- */
/* @import "sprites.png";
@mixin sprite-css($name) {
    @include sprites-sprite($name);
    height: sprites-sprite-height($name);
    width: sprites-sprite-width($name);
    display: inline-block;
} */
/*----------  vertical align
------------------------------------------------------------------------------*/
/* @mixin vertical-align {
    position: relative;
    top: 50%;
    @include translate(0, -50%);
} */
/*----------  Text Overflow
------------------------------------------------------------------------------*/
/*---------- horizontal align
------------------------------------------------------------------------------*/
/* @mixin horizontal-align {
    position: relative;
    left: 50%;
    @include translate(-50%, 0);
} */
/*----------  box-sizing
------------------------------------------------------------------------------*/
/*----------  appearance
------------------------------------------------------------------------------*/
/* ----------------- Media queris
----------------------------------------------------------------------- */
/* ----------------- Helpers
----------------------------------------------------------------------- */
/* ----------------- IE
----------------------------------------------------------------------- */
/* ----------------- Base
----------------------------------------------------------------------- */
/* ----------------- layout 
----------------------------------------------------------------------- */
.wrapper {
  max-width: 960px;
  margin: 0 auto; }

/* ----------------- Typography
----------------------------------------------------------------------- */
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "lato-black";
  src: url("../fonts/Lato-Black.eot?") format("eot"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.svg#Lato-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- Lib
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- buttons
----------------------------------------------------------------------- */
/* ----------------- Forms
----------------------------------------------------------------------- */
/* ----------------- Icons
----------------------------------------------------------------------- */
/* ----------------- Partials
----------------------------------------------------------------------- */
/* ----------------- footer
----------------------------------------------------------------------- */
/* ----------------- header
----------------------------------------------------------------------- */
/* ----------------- scss main
----------------------------------------------------------------------- */
body {
  font-family: 'lato-black', sans-serif;
  font-family: sans-serif;
  font-size: 14px;
  /* Webkit */
  /* Firefox <= 18 */
  /* Firefox >= 19 */
  /* Internet Explorer */ }
  body ::-webkit-input-placeholder {
    color: #ccc; }
  body :-moz-placeholder {
    color: #ccc; }
  body ::-moz-placeholder {
    color: #ccc; }
  body :-ms-input-placeholder {
    color: #ccc; }

.container-block {
  width: 100vw;
  height: 100vh;
  background: url(../img/login_bg.png) no-repeat;
  background-size: cover;
  z-index: 1; }
  .container-block:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff2400+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
    background: -moz-linear-gradient(-45deg, #ff2400 0%, rgba(125, 185, 232, 0) 60%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff2400 0%, rgba(125, 185, 232, 0) 60%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff2400 0%, rgba(125, 185, 232, 0) 60%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2400', endColorstr='#007db9e8',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .container-block .wrapper-block {
    max-width: 960px;
    margin: auto;
    position: relative;
    z-index: 3;
    text-align: center; }
    .container-block .wrapper-block .logo {
      text-align: center;
      margin: 0 0 50px 0; }
      .container-block .wrapper-block .logo img {
        cursor: pointer; }
    .container-block .wrapper-block .login-block h2, .container-block .wrapper-block .login-block h3 {
      font-size: 72px;
      margin: 0 0 70px 0;
      font-weight: 700;
      color: #fff;
      letter-spacing: 0.15px; }
    .container-block .wrapper-block .login-block h3 {
      font-size: 36px; }
    .container-block .wrapper-block .login-block .login-block_btn {
      /*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
      position: relative;
      overflow: hidden;
      /*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
      position: relative;
      overflow: hidden;
      display: inline-block;
      padding: 18px 0;
      width: 315px;
      font-size: 18px;
      background: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      /*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
      /*animation effect*/ }
      .container-block .wrapper-block .login-block .login-block_btn a {
        color: #005ebc;
        display: block;
        text-decoration: none;
        cursor: pointer;
        /*since the links are dummy without href values*/
        /*prevent text selection*/
        user-select: none;
        /*static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/
        position: relative; }
      .container-block .wrapper-block .login-block .login-block_btn .ink {
        display: block;
        position: absolute;
        background: #6f7c82;
        border-radius: 100%;
        transform: scale(0); }
      .container-block .wrapper-block .login-block .login-block_btn .ink.animate {
        animation: ripple 0.65s linear; }

@keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  100% {
    opacity: 0;
    transform: scale(2.5); } }

.main-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  aligne-text: center; }
  .main-box .nav {
    flex: 1 1 20%;
    background: #fafafa;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65);
    z-index: 9;
    position: relative; }
    .main-box .nav .nav-header {
      background: #bd1934;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .main-box .nav .nav-header .nav-header_create {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        .main-box .nav .nav-header .nav-header_create a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: white;
          margin: 0 10px 0 0;
          text-transform: uppercase;
          cursor: pointer; }
          .main-box .nav .nav-header .nav-header_create a .mdi-plus {
            margin-right: 10px; }
          .main-box .nav .nav-header .nav-header_create a .mdi-menu-down {
            margin-left: 25px; }
    .main-box .nav .navigation-link {
      width: 100%; }
      .main-box .nav .navigation-link ul {
        width: 100%; }
        .main-box .nav .navigation-link ul li {
          list-style-type: none;
          /*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
          position: relative;
          overflow: hidden;
          /*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
          /* animation effect */ }
          .main-box .nav .navigation-link ul li a {
            display: block;
            padding: 18px;
            text-decoration: none;
            color: #6f7c82;
            font-size: 16px;
            cursor: pointer;
            border-bottom: 1px solid #cccccc;
            transition: all 0.3s ease-in-out;
            display: block;
            text-decoration: none;
            cursor: pointer;
            /*since the links are dummy without href values*/
            /*prevent text selection*/
            user-select: none;
            /*static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/
            position: relative; }
            .main-box .nav .navigation-link ul li a span {
              background: #ccc;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              display: inline-block;
              text-align: center;
              line-height: 30px;
              margin-right: 10px;
              color: #fff; }
            .main-box .nav .navigation-link ul li a .active {
              color: #fff;
              background: #000; }
          .main-box .nav .navigation-link ul li .ink {
            display: block;
            position: absolute;
            background: #6f7c82;
            border-radius: 100%;
            transform: scale(0); }
          .main-box .nav .navigation-link ul li .ink.animate {
            animation: ripple 0.65s linear; }

@keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  100% {
    opacity: 0;
    transform: scale(2.5); } }
          .main-box .nav .navigation-link ul li a.active {
            color: #000; }
            .main-box .nav .navigation-link ul li a.active > span {
              color: #fff;
              background: #000; }
  .main-box .container {
    flex: 1 1 60%;
    background: #ebebeb;
    padding: 20px 30px;
    position: relative;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65); }
    .main-box .container .container-header {
      width: 100%;
      float: left;
      padding: 0 0 20px 0;
      border-bottom: 1px solid #cccccc; }
      .main-box .container .container-header .container-header_text {
        float: left; }
        .main-box .container .container-header .container-header_text h2, .main-box .container .container-header .container-header_text h3 {
          color: #6f7c82;
          display: block;
          padding: 5px 0; }
        .main-box .container .container-header .container-header_text h2 {
          font-size: 24px;
          line-height: 30px; }
        .main-box .container .container-header .container-header_text h3 {
          font-size: 20px; }
      .main-box .container .container-header .container-header_botton {
        font-size: 18px;
        line-height: 25px;
        float: right;
        position: absolute;
        color: #6f7c82;
        background: #e5e5e5;
        padding: 33px 52px 33px 30px;
        top: 0;
        right: 30px;
        transition: all 0.3s ease;
        cursor: pointer; }
        .main-box .container .container-header .container-header_botton:hover {
          background: #6f7c82;
          color: #e5e5e5; }
    .main-box .container .container-input {
      width: 50%;
      float: left; }
      .main-box .container .container-input .container-input_project {
        width: 100%;
        float: left;
        font-size: 14px; }
        .main-box .container .container-input .container-input_project label {
          display: block;
          padding: 30px 0 20px 0;
          color: #3c3d41;
          font-size: 16px; }
        .main-box .container .container-input .container-input_project input[type="text"] {
          display: block;
          width: 90%;
          padding: 17px 10px; }
        .main-box .container .container-input .container-input_project textarea {
          color: #ccc;
          padding: 10px;
          width: 90%; }
    .main-box .container .container-checkbox {
      width: 50%;
      float: left; }
      .main-box .container .container-checkbox h3 {
        display: block;
        padding: 30px 0 20px 0;
        color: #3c3d41;
        font-size: 16px; }
      .main-box .container .container-checkbox .container-checkbox_box {
        width: 100%;
        background: #fff;
        margin: 0 0 20px 0;
        display: flex;
        justify-content: center;
        align-items: center; }
        .main-box .container .container-checkbox .container-checkbox_box .box-text {
          padding: 10px;
          flex: 1 1 80%;
          border-right: 1px solid #ccc;
          margin: 10px 0; }
          .main-box .container .container-checkbox .container-checkbox_box .box-text h4 {
            padding: 5px 0;
            font-size: 16px;
            text-transform: uppercase;
            color: #3c3d41; }
          .main-box .container .container-checkbox .container-checkbox_box .box-text p {
            font-size: 15px;
            color: #3c3d41;
            line-height: 25px; }
        .main-box .container .container-checkbox .container-checkbox_box .box-checkbox {
          padding: 10px;
          flex: 1 1 20%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main-box .container .container-checkbox .container-checkbox_box .box-checkbox input[type=checkbox] {
            display: none; }
          .main-box .container .container-checkbox .container-checkbox_box .box-checkbox label {
            width: 20px;
            height: 20px;
            background: transparent;
            position: absolute;
            z-index: 9999999999;
            border: 2px solid #ccc;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
            .main-box .container .container-checkbox .container-checkbox_box .box-checkbox label span .mdi-check-circle-outline {
              display: none; }
          .main-box .container .container-checkbox .container-checkbox_box .box-checkbox input[type=checkbox]:checked ~ label span .mdi-check-circle-outline {
            display: block;
            cursor: pointer; }
  .main-box .container-info {
    flex: 1 1 20%;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65);
    padding: 10px 30px; }
    .main-box .container-info .container-info_box {
      color: #6f7c82;
      font-size: 20px;
      padding: 15px 0;
      font-family: sans-serif;
      border-bottom: 1px solid #ccc; }
      .main-box .container-info .container-info_box h2 {
        font-size: 24px;
        padding: 0 0 17px 0; }
      .main-box .container-info .container-info_box h3 {
        font-size: 18px;
        padding: 0 0 10px 0; }
    .main-box .container-info .container-info_compl {
      width: 100%;
      padding: 10px 0 30px 0; }
      .main-box .container-info .container-info_compl h2 {
        font-size: 18px;
        color: #444;
        padding: 10px 0;
        text-transform: uppercase; }
      .main-box .container-info .container-info_compl .info-scale {
        width: 100%;
        height: 5px;
        background: #ebebeb;
        margin: 10px 0; }
    .main-box .container-info .container-info_nav {
      width: 100%;
      font-size: 15px;
      text-transform: uppercase;
      padding: 10px 0;
      border-top: 1px solid #ccc; }
      .main-box .container-info .container-info_nav h3 {
        text-transform: uppercase;
        padding: 15px 0;
        line-height: 25px;
        color: #6f7c82; }
      .main-box .container-info .container-info_nav ul {
        width: 100%; }
        .main-box .container-info .container-info_nav ul li a {
          text-decoration: none;
          color: #6f7c82;
          padding: 15px 0;
          display: block;
          text-transform: capitalize;
          font-size: 16px;
          display: flex;
          align-items: center;
          cursor: pointer; }
          .main-box .container-info .container-info_nav ul li a .mdi.mdi-close {
            color: #bfbfbf;
            margin-right: 15px;
            cursor: pointer; }
          .main-box .container-info .container-info_nav ul li a .mdi-mdi-check {
            margin-right: 15px; }
        .main-box .container-info .container-info_nav ul li input[type=checkbox] {
          display: none; }
        .main-box .container-info .container-info_nav ul li .mdi-check {
          display: none; }
        .main-box .container-info .container-info_nav ul li input[type=checkbox]:checked ~ label span .mdi-close {
          display: none; }
        .main-box .container-info .container-info_nav ul li input[type=checkbox]:checked ~ a {
          color: red; }
        .main-box .container-info .container-info_nav ul li input[type=checkbox]:checked ~ label span .mdi-check {
          display: block;
          color: #000;
          margin-right: 15px;
          cursor: pointer; }
    .main-box .container-info .container-info_botton {
      position: absolute;
      bottom: 20px;
      width: calc(100% - 30px);
      /* width: calc(100% - 100px); */
      padding: 0 30px 0 0; }
      .main-box .container-info .container-info_botton .info-botton_back, .main-box .container-info .container-info_botton .info-botton_next {
        display: inline-block;
        text-decoration: none;
        font-size: 15px;
        background: #ebebeb;
        padding: 15px;
        cursor: pointer; }
      .main-box .container-info .container-info_botton .info-botton_back {
        color: #000; }
      .main-box .container-info .container-info_botton .info-botton_next {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 15px 40px 15px 40px; }
        .main-box .container-info .container-info_botton .info-botton_next span {
          color: #000;
          text-transform: uppercase;
          font-size: 14px;
          padding: 0 20px 0 0; }
        .main-box .container-info .container-info_botton .info-botton_next .cmp_icon {
          color: #000; }
