/* ----------------- Typography
----------------------------------------------------------------------- */
$font-path: './fonts' !default;

// @font-face {
// 	font-family: 'Graphik';
// 	src: url('#{$font-path}/Graphik-Regular.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/Graphik-Regular.otf') format('opentype'),
// 	url('#{$font-path}/Graphik-Regular.woff') format('woff'), url('#{$font-path}/Graphik-Regular.ttf') format('truetype'), url('#{$font-path}/Graphik-Regular.svg#Graphik-Regular') format('svg');
// 	font-weight: 400;
// 	font-style: normal;
// }



/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family:"lato-black";
    src:url("fonts/Lato-Black.eot?") format("eot"),
        url("fonts/Lato-Black.woff") format("woff"),
        url("fonts/Lato-Black.ttf") format("truetype"),
        url("fonts/Lato-Black.svg#Lato-Black") format("svg");
        font-weight:normal;
        font-style:normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('#{$font-path}/icomoon.eot');
  src:  url('#{$font-path}/icomoon.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/icomoon.ttf') format('truetype'),
        url('#{$font-path}/icomoon.woff') format('woff'),
        url('#{$font-path}/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
// 	font-family: 'Whitney-Book';
// 	src: url('css/fonts/Whitney-BookTTF/Whitney-Book.eot?#iefix') format('embedded-opentype'),
// 		url('css/fonts/Whitney-BookTTF/Whitney-Book.woff') format('woff'),
// 		url('css/fonts/Whitney-BookTTF/Whitney-Book.ttf') format('truetype'),
// 		url('css/fonts/Whitney-BookTTF/Whitney-Book.svg#Whitney-Book') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
