@font-face {
  font-family: 'Whitney-Bold';
  src: url('Whitney-Bold.eot');
  src: url('Whitney-Bold.woff2') format('woff2'),
       url('Whitney-Bold.woff') format('woff'),
       url('Whitney-Bold.ttf') format('truetype'),
       url('Whitney-Bold.svg#Whitney-Bold') format('svg'),
       url('Whitney-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

